<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogs</title>
    <link href="main.css" rel="stylesheet" />
</head>
<body>
    <h1>Hogs Admin Panel</h1>
    <p>This will be the admin menu where we can pull user and score information and modify or remove it.</p>
</body>
</html>